<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Category
  </dt>
  <dd class="govuk-summary-list__value">
    <%= event.name %>
  </dd>
  </div>

  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Description of problem
  </dt>
  <dd class="govuk-summary-list__value">
    <%= event.problem_description %>
  </dd>
  </div>

  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Attached specification
  </dt>
  <dd class="govuk-summary-list__value">
    <%= event.attached_specification %>
  </dd>
</div>